// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1400px;
$bp-desktop-xl: 1920px;

// Variables for fonts
$big-shoulders: "Big Shoulders Display", sans-serif;
$outfit: "Outfit", sans-serif;

// Variables for colors
$color-almost-black: #151515;
$color-gold: #D5966C;
$color-white: #FFFFFF;
$color-gray: #444444;
