@use "grid";
@use "footer";
@use "forms";
@use "navbar";
@use "sidebar";
@use "header";
@use '../abstracts/variables' as var;

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.hero {
  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    padding: 32px 16px;
    display: grid;
    gap: 25px;
    margin-top: 20px;
  }
}

.gallery {
  display: grid;
  gap: 16px;
  padding: 0 16px;
  margin-top: 70px;

  &__item {
    display: grid;
    gap: 35px;

    &--dark {
      background-color: var.$color-almost-black;
      color: var.$color-white;
      padding: 48px 24px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__content {
    display: grid;
    gap: 24px;

    &--light {
      color: var.$color-white;
    }
  }
}

